<!DOCTYPE html>
<html>

    <head>

    </head>

    <body>
       <h1> This is the form to add medicines</h1>

       <form class = "" action = "/meds/add" method = "post">
      Enter Medicine Name <input type = "text" name = "name" placeholder = "Medicine Name"/>
       <br> Enter Available Stocks <input type = "text" name = "count" placeholder = "No of stock"/>
      <br>  Brand Name <input type = "text" name = "brand" placeholder = "Brand Name"/>

      <br>  <button type = "submit">Add New</button>

       </form>

    </body>
</html>