<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>
        <h1 class = "text text-center bg-info"> Edit Medicines/Number of Stocks/Brand Names</h1>

        <form action = "/meds/edit/{{med.mid}}" method = "post">
           MedicineName <input type = "text" name = "name" value = "{{med.name}}" placeholder = ""/>
           
           Number of Medicines  <input type = "text" name = "count" value = "{{med.count}}" placeholder = ""/>
            BrandName  <input type = "text" name = "brand" value = "{{med.brand}}" placeholder = ""/>
               
        <button type= "submit">Save</button>
        
        
        </form>
    </body>
</html>